@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Basic style */
:root {
  --app-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  width: 100%;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  background: -o-linear-gradient(305deg, #9d9388, #baaea2);
  background: linear-gradient(145deg, #9d9388, #baaea2);
  -webkit-box-shadow: 7px 7px 14px #8f867c, -7px -7px 14px #cdc0b2;
  box-shadow: 7px 7px 14px #8f867c, -7px -7px 14px #cdc0b2;
  color: #001f3f;
}

figure {
  margin: auto;
}

figure img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

ul {
  list-style-type: none;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.full-area {
  height: 100vh;
  height: var(--app-height);
}

/* Custom Font Family */

@font-face {
  font-family: "Cinzel Black";
  src: url("fonts/cinzel/Cinzel-Black.woff2") format("woff2"),
    url("fonts/cinzel/Cinzel-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Decorative Black";
  src: url("fonts/cinzel/CinzelDecorative-Black.woff2") format("woff2"),
    url("fonts/cinzel/CinzelDecorative-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Bold";
  src: url("fonts/cinzel/Cinzel-Bold.woff2") format("woff2"),
    url("fonts/cinzel/Cinzel-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Decorative";
  src: url("fonts/cinzel/CinzelDecorative-Regular.woff2") format("woff2"),
    url("fonts/cinzel/CinzelDecorative-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Black";
  src: url("fonts/cinzel/Cinzel-Black.woff2") format("woff2"),
    url("fonts/cinzel/Cinzel-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Decorative Black";
  src: url("fonts/cinzel/CinzelDecorative-Black.woff2") format("woff2"),
    url("fonts/cinzel/CinzelDecorative-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Decorative Bold";
  src: url("../fonts/cinzel/CinzelDecorative-Bold.woff2") format("woff2"),
    url("../fonts/cinzel/CinzelDecorative-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Decorative Bold";
  src: url("../fonts/cinzel/CinzelDecorative-Bold.woff2") format("woff2"),
    url("../fonts/cinzel/CinzelDecorative-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel";
  src: url("../fonts/cinzel/Cinzel-Regular.woff2") format("woff2"),
    url("../fonts/cinzel/Cinzel-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Bold";
  src: url("../fonts/cinzel/Cinzel-Bold.woff2") format("woff2"),
    url("../fonts/cinzel/Cinzel-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel";
  src: url("../fonts/cinzel/Cinzel-Regular.woff2") format("woff2"),
    url("../fonts/cinzel/Cinzel-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel Decorative";
  src: url("../fonts/cinzel/CinzelDecorative-Regular.woff2") format("woff2"),
    url("../fonts/cinzel/CinzelDecorative-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Buttons */

.cta-button {
  background-color: #d6c8b9;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  border: 1px solid whitesmoke;
  -webkit-box-shadow: 7px 7px 14px #8f867c, -7px -7px 14px #cdc0b2;
  box-shadow: 7px 7px 14px #8f867c, -7px -7px 14px #cdc0b2;
  text-align: center;
  overflow: visible;
}

.button-text {
  text-shadow: 7px 7px 14px #8f867c, -7px -7px 14px #cdc0b2;
}

.cta-button:hover {
  background: -o-linear-gradient(305deg, #9d9388, #baaea2);
  background: linear-gradient(145deg, #9d9388, #baaea2);
  -webkit-box-shadow: 7px 7px 14px #8f867c, -7px -7px 14px #cdc0b2;
  box-shadow: 7px 7px 14px #8f867c, -7px -7px 14px #cdc0b2;
  color: #001f3f;
}

/* Colour Palette */
body {
  color: whitesmoke;
  background-color: #aea397;
}

.light-beige {
  background-color: #d6c8b9;
}

/* Typography */

body {
  font-family: "Playfair Display";
}

#intro-title {
  font-size: 4rem;
  font-family: "Cinzel";
  margin: 0;
}

p {
  font-size: 1.4rem;
}

.section-title {
  font-size: 2rem;
  font-family: "Cinzel";
  margin-top: 4rem;
  text-align: center;
  padding: 3rem 0;
  text-shadow: 7px 7px 14px #8f867c, -7px -7px 14px #cdc0b2;
}

.box-title {
  font-size: 2rem;
  text-align: center;
}

/* Header */
header {
  width: 100vw;
  position: fixed;
}

/* Menu */
nav {
  z-index: 9999;
  width: 40%;
  height: 20%;
}

.nav-closed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 20%;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.nav-closed i {
  font-size: 2rem;
  padding-right: 1rem;
  color: white;
  opacity: 0.7;
  display: visible;
  z-index: 9999;
}

.nav-closed i:hover {
  opacity: 1;
  cursor: pointer;
}

.close-icon {
  display: none;
  font-size: 3rem;
  color: white;
  opacity: 0.7;
}

.nav-open {
  position: absolute;
  width: 40%;
  height: 80%;
  top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

/* Landing */

#landing {
  position: relative;
  width: 100%;
  height: 100vh;
  height: var(--app-height);
}

.landing-image {
  width: 100vw;
  margin: 0;
  position: absolute;
  bottom: 5%;
  left: 0;
}

#intro-title {
  position: absolute;
  top: 10%;
  text-align: right;
  margin-right: 1rem;
  text-shadow: 7px 7px 14px #8f867c, -7px -7px 14px #cdc0b2;
  z-index: 10;
}

#bar-to-spotify {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 60vw;
  padding: 1rem 2rem;
  z-index: 10;
}

/* Listen section */

#listen {
  position: relative;
}

#songs-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 50px 1fr 50px 1fr;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 50px;
  padding-bottom: 3rem;
}

.box {
  background: #aea397;
  -webkit-box-shadow: 7px 7px 14px #8f867c, -7px -7px 14px #cdc0b2;
  box-shadow: 7px 7px 14px #8f867c, -7px -7px 14px #cdc0b2;
  margin: 2rem;
}

.box-image {
  border: 1px solid whitesmoke;
}

.spotify-icon {
  padding: 0 1rem;
  height: 8rem;
  position: relative;
}

.icon-to-spotify {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 2rem;
  width: 2rem;
  padding: 1.2rem;
  border-radius: 50%;
  background: -o-linear-gradient(305deg, #baaea2, #9d9388);
  background: linear-gradient(145deg, #baaea2, #9d9388);
  -webkit-box-shadow: 7px 7px 14px #8f867c, -7px -7px 14px #cdc0b2;
  box-shadow: 7px 7px 14px #8f867c, -7px -7px 14px #cdc0b2;
}

.icon-to-spotify i {
  font-size: 2rem;
}

/* Watch section */

#watch {
  position: relative;
}

#videoloop {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

#watch-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2a2929a5;
  z-index: 10;
}

#watch-button-area {
  position: relative;
  height: 100%;
  width: 100%;
}

#watch-youtube {
  position: absolute;
  bottom: 10%;
  right: 10%;
  height: 2rem;
  width: 2rem;
  padding: 1.2rem;
  border-radius: 50%;
  background: -o-linear-gradient(305deg, #baaea2, #9d9388);
  background: linear-gradient(145deg, #baaea2, #9d9388);
  -webkit-box-shadow: 7px 7px 14px #8f867c, -7px -7px 14px #cdc0b2;
  box-shadow: 7px 7px 14px #8f867c, -7px -7px 14px #cdc0b2;
}

#watch-youtube:hover {
  background: -o-linear-gradient(305deg, #9d9388, #baaea2);
  background: linear-gradient(145deg, #9d9388, #baaea2);
  -webkit-box-shadow: 7px 7px 14px #8f867c, -7px -7px 14px #cdc0b2;
  box-shadow: 7px 7px 14px #8f867c, -7px -7px 14px #cdc0b2;
  color: #001f3f;
}

/* Buy section */

#buy {
  position: relative;
}

#vinyl-image {
  height: 50vh;
  width: 80%;
  margin-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#buy-area {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100vw;
  text-align: center;
  z-index: 10;
  height: auto;
}

#album-title,
#icon-to-shopify {
  display: inline-block;
}

#album-title {
  font-size: 2rem;
}

#icon-to-shopify {
  width: 40vw;
  font-size: 1.6rem;
  padding: 1rem 2rem;
}

#price-area {
  padding: 2rem;
}

/* Contact section */

#contact {
  position: relative;
}

#contact-section {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#contact-section-list {
  margin-top: 8rem;
  font-size: 1.2rem;
}

#contact-section li {
  padding: 1rem;
  line-height: 2rem;
  text-shadow: 7px 7px 14px #625c55, -7px -7px 14px #cdc0b2;
  border-bottom: 1px solid #d6c8b9;
}

#contact-section li i {
  font-size: 2rem;
  text-shadow: none;
  vertical-align: middle;
}

#contact-section li a:hover {
  background: #aea397;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #001f3f;
}

/* Footer */

footer {
  position: relative;
  height: 10vh;
  text-align: center;
}

small {
  font-size: 0.8rem;
  font-style: italic;
  color: #001f3f;
}

/* Media Query */

@media screen and (min-width: 768px) {
  .landing-image {
    left: 0;
    bottom: 0;
    width: 35vw;
  }
  #intro-title {
    right: 1rem;
    top: 30%;
    width: 60vw;
    font-size: 8rem;
    text-transform: uppercase;
  }
  #bar-to-spotify {
    position: absolute;
    right: 3rem;
    left: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    bottom: 10%;
    width: 30vw;
  }
  .songs-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
  }
  #contact-section {
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px) {
  .landing-image {
    height: 100%;
    width: auto;
    overflow: hidden;
  }

  #intro-title {
    width: auto;
  }

  #bar-to-spotify {
    width: 80%;
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .section-title {
    font-size: 2.5rem;
  }

  #listen {
    height: auto;
    position: relative;
  }

  .box {
    border-bottom: 1px solid whitesmoke;
  }

  .box-image {
    border: none;
  }

  #watch-youtube {
    height: 4rem;
    width: 4rem;
  }

  #watch-youtube i {
    font-size: 3rem;
    vertical-align: middle;
    padding-top: 0.5rem;
  }

  #vinyl-image {
    height: 60vh;
  }

  .contact-list-item {
    font-size: 1.6rem;
  }

  .contact-list-item i {
    vertical-align: middle;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
  }
}

@media screen and (min-width: 998px) {
  .landing-image {
    width: 42%;
  }

  .section-title {
    font-size: 3rem;
  }

  #intro-title {
    width: auto;
    font-size: 10rem;
  }

  #bar-to-spotify {
    width: 50%;
    right: 1rem;
    bottom: 1rem;
    left: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  #listen {
  }

  #songs-grid {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
  }

  #songs-grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  #songs-grid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  #songs-grid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  #vinyl-image {
    margin-top: 3rem;
    position: absolute;
    left: 20rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40vw;
    height: 80vh;
    overflow: hidden;
    z-index: 20;
  }

  #buy-area {
    right: 5rem;
    left: auto;
    top: auto;
    bottom: 5rem;
    text-align: center;
    width: 50vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 30;
  }

  #album-title {
    font-size: 3rem;
  }

  #price-area {
    width: 50rem;
    margin: auto;
  }

  #icon-to-shopify {
    padding: 1.6rem 3.2rem;
    width: 30rem;
    font-size: 1.6rem;
  }
}
